#card{
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    /* border: 1px solid black ;  */
}

#imagem-card{
    margin-top: 30px;
    border-radius: 10px;
    /* border: 1px solid #000000; */
    /* max-width:200px;
    max-height:200px; */
    width: 200px;
    height: 200px;
}

#imagem__back{
    /* border-radius: 00px; */
    width: 200px;
    height: 200px;
    margin-top: 45px;
}

.flip-card {
    border-radius: 10px;
    background-color: transparent;
    width: 300px;
    height: 450px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .flip-card-back {
    border-radius: 10px;
    background-color: rgb(255, 139, 118);
    color: white;
    transform: rotateY(180deg);
  }


  .texto__front{
    margin:0;
  }

  .card02{
    font-size: 13px;
    padding: 05px;
    margin-top: 5px;
  }

  .div__product{
    padding: 5px;
    margin: 0px 10px 10px 10px;
    font-size: 20px;
  }

  .div__click{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 05px;
    margin-top: 27px;
  }

  .texto__click{ 
    font-size: 13px;
    text-transform: uppercase;

}