@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    margin-top: 100px;
}
.card h2 {
    margin: 0;
    padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 17px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}   

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/debora-e-tiago.appspot.com/o/tiago%26debora.jpeg?alt=media&token=8c8eb0f0-fa3f-486d-b865-d98a73ec311a");
  background-position: bottom center;
  background-size: cover;
}
